files:
  "/tmp/pipInstallation.sh":
    mode: "000777"
    owner: root
    group: root
    content: |
      #! /bin/bash
      source /opt/python/run/venv/bin/activate
      pip install flask==2.2.2
      pip install sklearn==1.1.3
      pip install pickle==4.0
      wget https://github.com/raineyfu/ECE444-F2022-Lab7/blob/main/basic_classifier.pkl?raw=true --output-document=/tmp/basic_classifier.pkl
      wget https://github.com/raineyfu/ECE444-F2022-Lab7/blob/main/count_vectorizer.pkl?raw=true --output-document=/tmp/count_vectorizer.pkl
      

commands:
  01_execute:
    command: "/tmp/pipInstallation.sh"
